<footer class="footer" itemscope itemtype="http://schema.org/WPFooter">
	<div class="footer__container section-container">
		<div class="footer__body">
			<div class="footer__body-inner">
				<div class="footer__group">
					<a href="https://web-you.pl/about/" class="logo footer__logo">
						<figure>
							<img src="@img/static/logo.svg" alt="logo.svg" class="logo__img">
							<figcaption class="logo__cap">
								<span>WEB <strong>YOU</strong></span>
								<span>DIGITAL AGENCY</span>
							</figcaption>
						</figure>
					</a>
					<div class="social-media footer__social-media">
						<ul>
							<li>
								<a href="" class="social-media-link">
									Facebook
									<svg class="svg-icon" viewbox="0 0 24 24">
										<use href='@img/static/icons/icons.svg#facebook'></use>
									</svg>
								</a>
							</li>
							<li>
								<a href="" class="social-media-link">
									Instagram
									<svg class="svg-icon" viewbox="0 0 24 24">
										<use href='@img/static/icons/icons.svg#instagram'></use>
									</svg>
								</a>
							</li>
							<li>
								<a href="" class="social-media-link">
									Linkedin
									<svg class="svg-icon" viewbox="0 0 24 24">
										<use href='@img/static/icons/icons.svg#linkedin'></use>
									</svg>
								</a>
							</li>
							<li>
								<a href="" class="social-media-link">
									GitHub
									<svg class="svg-icon" viewbox="0 0 24 24">
										<use href='@img/static/icons/icons.svg#github'></use>
									</svg>
								</a>
							</li>
							<li>
								<a href="" class="social-media-link">
									upwork
									<svg class="svg-icon" viewbox="0 0 24 24">
										<use href='@img/static/icons/icons.svg#upwork'></use>
									</svg>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<nav class="footer__nav footer-nav">
					<ul>
						<li>
							<a href="/#our-team" class="text-link" data-scroll-offset="-30"><strong>All specialists</strong></a>
						</li>
						<li>
							<a href="/#contact-form-section" class="text-link" data-scroll-offset="-30"><strong>Contact us</strong></a>
						</li>
						<li>
							<a href="" class="text-link">Privacy policy</a>
						</li>
						<li>
							<a href="" class="text-link">Terms and Conditions</a>
						</li>
					</ul>
				</nav>
				<div class="footer__btn-area">
					<a href="/#contact-form-section" class="btn btn_bright footer__btn" data-scroll-offset="-30">
						<span class="btn__bg"></span>
						<span class="btn__inner">
							<span class="btn__cap">Contact Us</span>
						</span>
					</a>
				</div>
			</div>
		</div>
		<div class="footer__copyright">
			Copyright ⓒ 2023 Web-you. All Rights Reserved.
		</div>
	</div>
</footer>