<header class="header @@className">
	<div class="header__container section-container">
		<a href="https://web-you.pl/about/" class="header__logo logo">
			<figure>
				<img src="@img/static/logo.svg" alt="logo.svg" class="logo__img">
				<figcaption class="logo__cap">
					<span>WEB <strong>YOU</strong></span>
					<span>DIGITAL AGENCY</span>
				</figcaption>
			</figure>
		</a>
		<div class="header__nav" data-portal-src="main-nav-to-burger" data-portal-media="(max-width: 1150px)">
			<nav class="main-nav">
				<ul>
					<li><a href="/#our-team" class="text-link underline-in" data-scroll-offset="-30">All specialists</a></li>
					<li><a href="/#contact-form-section" class="text-link underline-in" data-scroll-offset="-30">Contact us</a></li>
				</ul>
			</nav>
		</div>
		<div class="header__group">
			<div class="lang-switch header__lang-switch">
				<ul>
					<li><a href="" class="text-link active">EN</a></li>
					<li><a href="" class="text-link">PL</a></li>
				</ul>
			</div>
			<div class="social-media header__social-media">
				<ul>
					<li>
						<a href="" class="social-media-link">
							Facebook
							<svg class="svg-icon" viewbox="0 0 24 24">
								<use href='@img/static/icons/icons.svg#facebook'></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="" class="social-media-link">
							Instagram
							<svg class="svg-icon" viewbox="0 0 24 24">
								<use href='@img/static/icons/icons.svg#instagram'></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="" class="social-media-link">
							Linkedin
							<svg class="svg-icon" viewbox="0 0 24 24">
								<use href='@img/static/icons/icons.svg#linkedin'></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="" class="social-media-link">
							GitHub
							<svg class="svg-icon" viewbox="0 0 24 24">
								<use href='@img/static/icons/icons.svg#github'></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="" class="social-media-link">
							upwork
							<svg class="svg-icon" viewbox="0 0 24 24">
								<use href='@img/static/icons/icons.svg#upwork'></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
			<div class="burger-menu header__burger-menu" data-drawer="burger-menu">
				<div class="burger-menu__panel" data-drawer-panel>
					<div class="burger-menu__inner">
						<div class="burger-menu__container section-container">
							<a href="https://web-you.pl/about/" class="burger-menu__logo logo">
								<figure>
									<img src="@img/static/logo.svg" alt="logo.svg" class="logo__img">
									<figcaption class="logo__cap">
										<span>WEB <strong>YOU</strong></span>
										<span>DIGITAL AGENCY</span>
									</figcaption>
								</figure>
							</a>
							<div class="burger-menu__nav" data-portal-dest="main-nav-to-burger"></div>
							<div class="lang-switch burger-menu__lang-switch">
								<ul>
									<li><a href="" class="text-link active">EN</a></li>
									<li><a href="" class="text-link">PL</a></li>
								</ul>
							</div>
							<div class="social-media burger-menu__social-media">
								<ul>
									<li>
										<a href="" class="social-media-link">
											Facebook
											<svg class="svg-icon" viewbox="0 0 24 24">
												<use href='@img/static/icons/icons.svg#facebook'></use>
											</svg>
										</a>
									</li>
									<li>
										<a href="" class="social-media-link">
											Instagram
											<svg class="svg-icon" viewbox="0 0 24 24">
												<use href='@img/static/icons/icons.svg#instagram'></use>
											</svg>
										</a>
									</li>
									<li>
										<a href="" class="social-media-link">
											Linkedin
											<svg class="svg-icon" viewbox="0 0 24 24">
												<use href='@img/static/icons/icons.svg#linkedin'></use>
											</svg>
										</a>
									</li>
									<li>
										<a href="" class="social-media-link">
											GitHub
											<svg class="svg-icon" viewbox="0 0 24 24">
												<use href='@img/static/icons/icons.svg#github'></use>
											</svg>
										</a>
									</li>
									<li>
										<a href="" class="social-media-link">
											upwork
											<svg class="svg-icon" viewbox="0 0 24 24">
												<use href='@img/static/icons/icons.svg#upwork'></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button type="button" class="header__burger-btn burger-btn" data-drawer-toggle="burger-menu">
				Menu
				<span class="burger-btn__icon">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>
		</div>
	</div>
</header>