@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "../../repo/scss/base/mixins";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройки шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Montserrat";
$fontSize: 16; // где 14(px) - размер шрифта по умолчанию из макета
$mainColor: #212121; // Цвет шрифта по умолчанию

// Минимальная ширина страницы
$minWidth: 280;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$containerInnerWidth: 1360;

// Брейк-поинты точки преломления без единиц измерения
$mbpPCNu: $maxWidth;  	// Максимальная ширина по макету
$mbpSPCNu: 1440; 				// Небольшие мониторы ПК, ноутбуки
$mbpTNu: 1024;					// Планшеты, некоторые телефоны в горизонтальном, ноутбуки
$mbpMNu: 768;						// Телефоны L
$mbpSMNu: 520;					// Телефоны S
$mbpESMNu: 375;					// Телефоны XS

$mbpPCEndNu: $maxWidth; 
$mbpSPCEndNu: 1440;
$mbpTEndNu: 1024;
$mbpMEndNu: 768;
$mbpSMEndNu: 520;
$mbpESMEndNu: 375;

// наименьшая ширина промежутка
$mbpPCStartNu: $mbpSPCEndNu + 0.1;
$mbpSPCStartNu: $mbpTEndNu + 0.1;
$mbpTStartNu: $mbpMEndNu + 0.1;
$mbpMStartNu: $mbpSMEndNu + 0.1;
$mbpSMStartNu: $mbpESMEndNu + 0.1;


// Брейк-поинты / наибольшая ширина промежутка
$mbpPCEnd: px($mbpPCEndNu); 
$mbpSPCEnd: px($mbpSPCEndNu);
$mbpTEnd: px($mbpTEndNu);
$mbpMEnd: px($mbpMEndNu);
$mbpSMEnd: px($mbpSMEndNu);
$mbpESMEnd: px($mbpESMEndNu);
// наименьшая ширина промежутка
$mbpPCStart: px($mbpPCStartNu);
$mbpSPCStart: px($mbpSPCStartNu);
$mbpTStart: px($mbpTStartNu);
$mbpMStart: px($mbpMStartNu);
$mbpSMStart: px($mbpSMStartNu);

$mbpBurgerTime: 1150px;